


video{

    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("./img/eva.svg");
    background-color: #cccccc;
    font-family: 'Montserrat', sans-serif;
   }
.centre{
    margin: 0px;
    text-align: center;
}
.title{
    font-size: 48px;
}
.clap{
    padding-bottom: 10px;
    font-size: 36px;
}
video{
    border-radius: 8px;
}
.credits{
    margin-top: 280px;
    margin-left: 1500px;
    color: gray;
}